h1 {
 color: red;
 background-color: green;
}
body{
 background-color: black;
}
#country{
 background-color: teal;
}
label, input{
 background-color: teal;
 padding: 20px;
 color: aqua;
}
#dobozWalaholFent{
 background-color: blue;
}